body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #A4B494;
}

#title {
    font-size: 2rem;
    text-align: center;
}

#description {
    text-align: center;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px 12px;
    background: black;
    color: white;
    /* opacity: 0.7; */
    border-radius: 5px;
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.5);
    /* width: 92px;
    height: 62px; */
}

.source {
    position: absolute;
    bottom: 0;
    right: 8px;
}

.icon-source {
    color: #cecece;
    width: 36px;
    transition: 0.3s;
}

.icon-source:hover {
    color: white;
}